[submodule "Backend"]
	path = DissertationBackend
	url = https://github.com/MariaPindaru/DissertationBackend.git
[submodule "Frontend"]
	path = DissertationFrontend
	url = https://github.com/MariaPindaru/DissertationFrontend.git
