[submodule "DissertationBackend"]
	path = DissertationBackend
	url = https://github.com/MariaPindaru/DissertationBackend.git
[submodule "DissertationFrontend"]
	path = DissertationFrontend
	url = https://github.com/MariaPindaru/DissertationFrontend.git
